<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/main.css">
    <title>Main Page</title>
</head>
<body>
<div class="login-form">
    <h2 class="text-center">Welcome, tester!</h2>
    <div class="or-separator">
        <span style="padding: 0 10px">
            <i>You could try to</i>
        </span>
    </div>
    <a href="#" class="google btn">
        <i class=""></i>access to the secret
    </a>
    <div class="or-separator">
        <span style="padding: 0 10px">
            <i>or login before</i>
        </span>
    </div>
    <a href="/login" class="btn">
        <i class=""></i>login
    </a>
    <a href="/register" class="btn">
        <i class=""></i>register
    </a>

</div>
</body>
</html>